@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-manrope);

  --color-primary: #306ee8;
  --color-background-light: #f6f6f8;
  --color-background-dark: #111621;
  --color-card-light: #ffffff;
  --color-card-dark: #181e29;
  --color-border-light: #e5e7eb;
  --color-border-dark: #2a3140;
  --color-text-primary-light: #111827;
  --color-text-primary-dark: #ffffff;
  --color-text-secondary-light: #6b7280;
  --color-text-secondary-dark: #9ca3af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
